{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb-typescript"
      ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "import"
    ],
    "rules": {
      "@typescript-eslint/indent": ["error", 2],
      "@typescript-eslint/no-unused-vars": "error",
      "@typescript-eslint/no-explicit-any": "error",
      "@typescript-eslint/no-namespace": "off",
      "react/jsx-filename-extension": "off"
    },
    "parserOptions": {
      "project": ["./tsconfig.json"]
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      }
    }
  }
